body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}

.navbar-brand {
  margin-left: 6%;
  font-size: 1.4em;
  font-weight: bold;
}

.custom-navbar {
  border: 2px solid gainsboro;
}

.nav-item {
  font-weight: bold;
}

.black-link {
  color: black !important;
}

.navbar-collapse {
  margin-right: 4%;
}

.navbar-nav .nav-item {
  padding-right: 20px;
}

.active-nav-link {
  color: #2a9d8f !important;
  text-decoration: underline !important;
  text-decoration-thickness: 2px !important;
}

.container h1 {
  font-size: 2.5em;
  font-weight: bold;
}

.highlight {
  color: #2a9d8f;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.image-left,
.image-right {
  position: absolute;
  top: 10rem;
  max-width: 300px;
  z-index: -1;
  border-radius: 20px;
}

.image-left {
  left: 0;
  border-radius: 0 20px 20px 0;
}

.image-right {
  right: 0;
  border-radius: 20px 0 0 20px;
}

.custom-outline-success {
  color: #2a9d8f;
  border-color: #2a9d8f;
}

.custom-outline-success:hover {
  background-color: #2a9d8f;
  color: white;
}

.custom-success {
  background-color: #2a9d8f;
  border-color: #2a9d8f;
}

.custom-success:hover {
  background-color: #248f7b;
  border-color: #248f7b;
}

.input-group .form-control,
.input-group .btn {
  border-radius: 30px;
  padding: 10px 20px;
}

.btn-outline-secondary {
  border-color: #00a794;
  color: #00a794;
}

.btn-outline-secondary:hover {
  background-color: #00a794;
  color: black;
}

.btn-primary {
  background-color: #00a794;
  border-color: #00a794;
  border-radius: 30px;
  padding: 10px 20px;
}

.trusted-text {
  font-style: italic;
  font-size: smaller;
  margin-right: 30%;
}

.trusted-logo,
.client-logo {
  width: 100px;
  height: 100px;
  max-width: 100%;
  margin-right: 6%;
  margin-left: 6%;
}

footer {
  background-color: white;
  padding: 20px;
}

.featured-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.footer-logos img {
  margin: 0 15px;
}

a:focus,
button:focus {
  outline: 2px dashed #2a9d8f;
  outline-offset: 2px;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .image-left,
  .image-right {
    position: relative;
    top: 0;
    max-width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  .trusted-logo,
  .client-logo {
    margin: 10px auto;
  }

  .trusted-text {
    margin-right: 0;
  }

  footer .row {
    flex-direction: column;
    text-align: center;
  }

  footer .col-md-4,
  footer .col-md-8 {
    margin-bottom: 20px;
  }
  footer {
    background-color: white;
    padding: 5px;
  }
  .footer-logos {
    justify-content: flex-start;
  }

  .featured-title {
    font-size: 1.5rem;
  }

  .footer-logos img {
    margin: 5px;
  }
}
