body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
}

.navbar-brand {
  margin-left: 6%;
  font-size: 1.4em;
  font-weight: bold;
}

.custom-navbar {
  border: 2px solid gainsboro; /* Adjust thickness and color as needed */
}

.nav-item {
  font-weight: bold;
}

.black-link {
  color: black !important;
}

.navbar-collapse {
  margin-right: 4%;
}

.navbar-nav .nav-item {
  padding-right: 20px; /* Adjust the value as needed */
}

.active-nav-link {
  color: #2a9d8f !important;
  text-decoration: underline !important;
  text-decoration-thickness: 2px !important;
}
.container h1 {
  font-size: 2.5em;
  font-weight: bold;
}

.highlight {
  color: #2a9d8f;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.main-content .image {
  flex: 1;
  max-width: 200px; /* Adjust the size as needed */
}
.main-content .content {
  flex: 2;
  text-align: center;
}

.image-left {
  position: absolute;
  left: 0;
  top: 120px; /* Adjust the top position as needed */
  max-width: 300px; /* Adjust the size as needed */
  z-index: -1; /* Ensure it stays in the background */
  border-radius: 0 20px 20px 0;
}

.image-right {
  position: absolute;
  right: 0;
  top: 120px; /* Adjust the top position as needed */
  max-width: 300px; /* Adjust the size as needed */
  z-index: -1; /* Ensure it stays in the background */
  border-radius: 20px 0 0 20px;
}

.custom-outline-success {
  color: #2a9d8f;
  border-color: #2a9d8f;
}
.custom-outline-success:hover {
  background-color: #2a9d8f;
  color: white;
}
.custom-success {
  background-color: #2a9d8f;
  border-color: #2a9d8f;
}
.custom-success:hover {
  background-color: #248f7b;
  border-color: #248f7b;
}

.input-group .form-control,
.input-group .btn {
  border-radius: 30px;
  padding: 10px 20px;
}

.btn-outline-secondary {
  border-color: #00a794;
  color: #00a794;
}

.btn-outline-secondary:hover {
  background-color: #00a794;
  color: black;
}

.btn-primary {
  background-color: #00a794;
  border-color: #00a794;
  border-radius: 30px;
  padding: 10px 20px;
}

.trusted-text {
  font-style: italic;
  font-size: smaller;
  margin-right: 35%;
}

.trusted-logo {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Maintains aspect ratio */
  max-width: 100%; /* Ensures the image is responsive */
}

.client-logo {
  margin-left: 16%;
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Maintains aspect ratio */
  max-width: 100%; /* Ensures the image is responsive */
}

footer {
  background-color: white; /* light gray */
  padding: 20px;
}

.featured-title {
  font-size: 2.5rem; /* Adjust the size to match the main heading */
  font-weight: bold;
  color: #333; /* Same color as the main heading */
  margin-bottom: 20px; /* Adjust spacing as needed */
}

.footer-logos img {
  margin: 0 15px; /* Adjust spacing between logos */
}
